/* Social Media Button styling in navBar */

.fa {
    padding: 10px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 40%;
}


/* Hover Effect for Social Media Buttons */

.fa:hover {
    opacity: 0.7;
}


/* Social Media Buttons */

.fa {
    padding: 10px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-github {
    border-radius: 50%;
    background: green;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4e89ae;
}

.page-header {
    background-color: #595c69;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
    font-family: "Open Sans", sans-serif;
}

.heading {
    background-color: #3c3c3c;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

input {
    width: 75%;
}

#city-list {
    width: 22rem;
}

#city-date-icon,
#city-name,
#current-icon {
    display: flex;
    flex-direction: row;
    justify-content: center/space-around/space-between;
}

h6 {
    font-weight: bold;
}

h4 {
    background-color: white;
    margin-top: 10px;
}

#forecast-cards {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center/space-between;
}

.forecast {
    background-color: white;
    margin: 10px;
}


/* Footer */

.footer {
    position: fixed;
    padding: 0.8rem;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
    z-index: 1;
}